.btns{display: flex;
    flex-wrap: wrap;
   gap:20px;}

.container{display: flex;
           justify-content: center;
        align-items: center;
     text-align: center;}

button{background: #F37335;
       color: white;
      width: 50px;
     height: 25px;
     font-size: larger;
    border: none;
    border-radius: 20%;}

body{background: #FDC830;
    color:  #F37335;}